NODE_ENV=development
CHECK_INTERVAL_MS=20000
QUIET_HOURS_START=22
QUIET_HOURS_END=7
NON_CRITICAL_STATUS_WRITE_INTERVAL_MIN=1
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=check_url
DB_USER=alerts_user
DB_PASSWORD=alerts_password
TELEGRAM_ALERT_ENABLED=false
TELEGRAM_ALERT_URL=http://127.0.0.1:1341/v1/queue/message
TELEGRAM_ALERT_TOKEN=change_me_token
TELEGRAM_ALERT_APP_CODE=check_url
TELEGRAM_ALERT_BOT_CODE=main_bot
DEFAULT_TG_CHAT_ID=375456921
